.activity_row
{
  margin-top: 8px;
  justify-content: center;
}

.row_title
{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 46px;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.title_bordered
{
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #707070;
  width: 100%;
  max-width: 100%;
  height: calc(100% - 2px);
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  background-color: white;
}

.title_text
{
  display: flex;
  flex-direction: column;
  word-wrap: break-word; 
  overflow: auto;
  
}

.title_bordered[expanded="expanded"]
{
  border-radius: 5px 5px 0px 0px;
}

.hover_buttons
{
  margin-top: auto;
  margin-bottom: auto;
}

.remove_hover
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FF3030;
  font-size: 14px;
  text-align: end;
}

.add_hover
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3059FF;
  font-size: 14px;
  text-align: end;

}

.add_activity_button
{
  color: white;
  background-color: #3059FF;
  border: 0px;
  line-height: 25px;
  font-size: 25px;
}

.remove_activity_button
{
  color: #FF3030;
  font-size: 15px;
  border: 1px #FF3030 solid;
  line-height: 25px;
}

.activity_circle_button
{
  align-self: center;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
}


.activity_name
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: auto;
}

.activity_duration
{
  white-space: nowrap;
  margin-bottom: auto;
  color: #747474;
}

.title_buttons
{
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.swapDownButton
{
  margin-top: 2px;
}

.activity_name
{
  justify-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity_duration
{
  justify-content: right;
  white-space: nowrap;
}

.expanded_row
{
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  margin-left: 28px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 0px 0px 5px 5px;
  background-color: #E6E6E6;
}

.expanded_row[type="sidePanel"]
{
  background-color: white;
}

.expanded_buttons
{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.expanded_details
{
  display: flex;
  flex-direction: row;
  width: calc(100% - 50px);
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.expanded_tag
{
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

.expanded_description
{
  overflow-wrap: break-word;
  max-width: 100%;
}

.expanded_tag_value
{
  text-overflow: ellipsis;
  margin-left: 5px;
  margin-right: 16px;
  background-color: #CFCFCF;
  justify-self: center;
  text-align: center;
  justify-content: center;
  height: 26px;
  vertical-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px;
}

.edit_button
{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  float: right;
  height: 32px;
  width: 64px;
  color: white;
  background-color: #3059FF;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  justify-self: end;
}