.activity_row
{
  margin-right: 32px;
  margin-top: 8px;
}

.row_title
{
  display: flex;
  height: 46px;
  flex-direction: row;
  align-items: center;
}

.title_text
{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #707070;
  width: 100%;
  height: calc(100% - 2px);
  padding-left: 16px;
}

.title_text[expanded="expanded"]
{
  border-radius: 5px 5px 0px 0px;
}

.activity_name
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: auto;
}

.activity_duration
{
  white-space: nowrap;
  margin-bottom: auto;
  color: #747474;
}

.title_buttons
{
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.swapDownButton
{
  margin-top: 2px;
}

.activity_name
{
  justify-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity_duration
{
  justify-content: right;
  white-space: nowrap;
}

.expanded_row
{
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 0px 0px 5px 5px;
  background-color: #E6E6E6;
}

.expanded_buttons
{
  display: flex;
  flex-direction: row;
  justify-content: right;
  border-top: 1px solid gray;
}

.expanded_details
{
  display: flex;
  flex-direction: row;
  width: calc(100% - 50px);
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
}

.expanded_age
{
  text-overflow: ellipsis;
}

.expanded_level
{
  text-overflow: ellipsis;
}