.lesson_plan_expand
{
  display: flex;
  flex-direction: column;
}

.activity_list_lesson_plan
{
  border: 2px solid black;
  display: block;
  border-radius: 2px;
  height: 30vh;
  width: calc((90% - 4px));
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}