.navigation_bar
{
  height: 50px;
  display: flex;
  background-color: #3059FF;
  justify-content: space-between;
  line-height: 25px;
}

.empty_nav_bar
{
  height:0px;
  margin: 0;
}

.header_logo_div
{
  vertical-align: middle;
  margin-left: 16px;
  width: 50%;
  cursor: pointer;
}

.header_logo
{
  height: 45px;
}

.navigation_help
{
  vertical-align: middle;
  margin-right: 32px;
  color: white;
  text-decoration: initial;
}

.navigation_account
{
  vertical-align: middle;
  margin-right: 32px;
  color: white;
  text-decoration: initial;
}

.navigation_sign_out
{
  color: white;
  margin-right: 32px;
  cursor: pointer;
}

.navigation_links
{
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}