.homepage
{
  display: flex;
  overflow: auto;
  width:  100vw;
  height:  calc(100vh - 50px);
}

.lesson_plan_sidebar
{
  width: 25%;
  height: 100%;
}

.main_lesson_plan
{
  width: 50%;
}

.activity_sidebar
{
  width: 25%;
  border-left: 1px gray solid;
  height: 100%;
}
