.lesson_plan_row
{
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: auto;
  align-items: center;
  height: 68px;
  border-radius: 5px;
  box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}
.lesson_row_divider
{
  height: 16px;
  background: inherit;
}

.lesson_row_left
{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.lesson_row_name
{
  margin-left: 16px;
}

.lesson_row_date
{
  margin-left: 16px;
  color: #747474;
}

.lesson_row_duration
{
  margin-right: 16px;
  background-color: #CFCFCF;
  justify-self: center;
  text-align: center;
  height: 26px;
  vertical-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}