.activity_list
{
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}

.activity_expanded_title
{
  margin-left:1px;
}

.activities
{
  justify-content: center;
}

.new_activity_button
{
  height: 25px;
  width: 100%;
}