.activity_list
{
  overflow: hidden;
  margin-right: 32px;
  border: 1px black solid;
  overflow: auto;

}

.activity_expanded_title
{
  margin-bottom: 8px;
}

.activities
{
  overflow: auto;
  justify-content: center;
}

.new_activity_button
{
  height: 25px;
  width: 100%;
}